/* Base styles for the entire application */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdf0d3;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Global box-sizing rule */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global utility classes */
.error-message {
    color: red;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-text {
    color: red;
}

.success-text {
    color: green;
}

.center-text {
    text-align: center;
}

.no-results {
    display: block;
}

.loading-message {
    text-align: center; 
    margin-top: 20px;
}